html{
    background-color: antiquewhite;
}
.title{
    font-family:'Brush Script MT', cursive;
    font-size: 100px;
    text-align: center;
}
.bg{
    display: flex;
    align-items: start;
    justify-content: center;
}
.btn_white{
    background-color: white;
    height: 500px;
    width: 80px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 0px 1px;
    border: 3px solid black;
    border-bottom: 20px solid rgb(240, 240, 240);
    border-radius: 5px;
}
.white_pressed{
    background-color: rgb(245, 245, 245);
    border-bottom: 6px solid rgb(172, 172, 172);
}
.btn_black{
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 5;
    margin: 0 -25px;
    background-color: black;
    border-right: 5px solid rgb(80, 80, 80);
    border-left: 5px solid rgb(80, 80, 80);
    border-top:0px solid rgb(80, 80, 80);
    border-bottom: 12px solid rgb(61, 61, 61);
    width: 50px;
    height: 200px;
}
.black_pressed{
    background-color: black;
    border-bottom: 5px solid rgb(61, 61, 61);
}

footer {
    margin-top: 60px;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 30px;
  }
  